@{
    ViewBag.Title = "Home";
}
<br />
<table cellpadding="2" cellspacing="2" align="center" border="1">
    <tr>
        <th>
            ZIG ZAG
        </th>
        <th>
            CESAR
        </th>
        <th>
            ESPIRAL
        </th>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("CIFRADO", "ZigZagCifrado")
            <br />
            @Html.ActionLink("DESCIFRADO", "ZigZagDesCifrado")
        </td>
        <td>
            @Html.ActionLink("CIFRADO", "CesarCodificacion")
            <br />
            @Html.ActionLink("DESCIFRADO", "CesarDescodificacion")
        </td>
        <td>
            @Html.ActionLink("CIFRADO", "EspiralCifrado")
            <br />
            @Html.ActionLink("DESCIFRADO", "EspiralDescifrado")
        </td>
    </tr>

</table>

